@keyframes example {
    0% { background-color: rgb(23, 0, 0); }
    25% { background-color: rgb(31, 0, 42); }
    50% { background-color: rgb(6, 0, 35); }
    100% { background-color: rgb(23, 0, 0); }
  }
body {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}